.App {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.back-wall {
  background-color: gainsboro;
  background-size: cover;
  height: 300px;
  width: 1420px;
  z-index: -5;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.bottom-detail-gap-box-left {
  border: solid;
  border-color: black;
  height: 300px;
  width: 75px;
  display: flex;
}
.bottom-detail-gap-box-right {
  border: solid;
  border-color: black;
  height: 300px;
  width: 75px;
  display: flex;
}
.bottom-detail-gap-box {
  border: solid;
  border-color: black;
  height: 150px;
  width: 450px;
  display: flex;
}
.console-interface-box {
  border: solid;
  height: 175px;
  width: 1414px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.console-interface-divider-box-right {
  width: 30px;
  height: 150px;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-bottom-style: none;
  border-top-style: none;
  border-radius: 10%;
}
.console-interface-divider-box-left {
  width: 30px;
  height: 150px;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 10%;
}
.console-interface-key-pad {
  display: flex;
  width: 440px;
  height: 140px;
  border-radius: 10%;
  background-color: rgb(228, 227, 188);
  box-shadow: 10px 10px 10px 5px rgba(162, 199, 127, 0.2);
  justify-content: space-between;
  align-items: center;
}
.key-pad-box {
  display: flex;
  height: 140px;
  width: 100px;
  background-color: black;
  border-radius: 10% 0 0 10%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.key-pad-box-2 {
  display: flex;
  height: 100px;
  width: 300px;
  padding: 10px;
  background-color: black;
  border-radius: 0 10% 10% 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.key-pad-box-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.key-pad-button {
  background-color: rgb(228, 227, 188);
  border-radius: 30%;
  width: 30px;
  height: 15px;
}
.key-pad-button-vertical {
  background-color: rgb(228, 227, 188);
  width: 15px;
  height: 30px;
}
.key-pad-button-vertical-red {
  background-color: rgb(235, 85, 93);
  width: 15px;
  height: 30px;
}
.brewlette-site {
  display: flex;
  align-items: center;
  color: rgb(139, 235, 76);
  height: 15px;
  text-size-adjust: inherit;
  text-decoration: none;
}
.brewlette-git-hub {
  display: flex;
  align-items: center;
  height: 15px;
  color: rgb(76, 227, 247);
  text-decoration: none;
}
.key-pad-box-3 {
  height: 70px;
  width: 100px;
  background-color: black;
}
.over-head-pannel {
  height: 100px;
  width: 1410px;
  border: solid black 5px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.console-box {
  height: 300px;
  width: 1420px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.console-divider-box-left {
  width: 30px;
  height: 270px;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 10%;
}
.console-divider-box-right {
  width: 30px;
  height: 270px;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 10%;
}
.console-screen {
  display: flex;
  flex-direction: row;
  width: 440px;
  height: 270px;
  border-radius: 20%;
  background-color: rgb(228, 227, 188);
  box-shadow: 10px 10px 10px 5px rgb(162 199 127 / 20%);
  justify-content: space-between;
  align-items: center;
}
.black-slider-container {
  width: 150px;
  padding: 10px;
  background-color: black;
}
.black-text-container {
  width: 250px;
  height: 270px;
  background-color: black;
  color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.title-text {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
}
.circle-red-object {
  background-color: rgb(235, 85, 93);
  width: 30px;
  height: 38px;
  border-radius: 0 50% 50% 0;
}
.background-shaper {
  display: flex;
  width: 150px;
  padding: 10;
  height: 200px;
  background-color: black;
  color: rgb(228, 227, 188);
  border-radius: 9% 0% 0% 9%;
}
.section-back-light {
  width: fit-content;
  height: 150px;
  display: flex;
  background-color: rgb(228, 227, 188);
  border-radius: 20%;
}
.description-container {
  display: flex;
  padding: 0;
  margin: 0;
}
.description-text-list {
  padding: 0;
  margin: 10px 0px 10px 0px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.description-text {
  display: inline;
  color: rgb(228, 227, 188);
  height: fit-content;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 2000px 10px rgb(162 199 127 / 35%);
}
